@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 37% 98%;
    --foreground: 228 73% 2%;
    --muted: 228 21% 89%;
    --muted-foreground: 228 5% 37%;
    --popover: 228 37% 98%;
    --popover-foreground: 228 73% 2%;
    --card: 228 37% 98%;
    --card-foreground: 228 73% 2%;
    --border: 228 12% 91%;
    --input: 228 12% 91%;
    --primary: 228 37% 64%;
    --primary-foreground: 228 37% 4%;
    --secondary: 228 14% 88%;
    --secondary-foreground: 228 14% 28%;
    --accent: 228 23% 80%;
    --accent-foreground: 228 23% 20%;
    --destructive: 21 82% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 228 37% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 57% 4%;
    --foreground: 228 10% 99%;
    --muted: 228 21% 11%;
    --muted-foreground: 228 5% 63%;
    --popover: 228 57% 4%;
    --popover-foreground: 228 10% 99%;
    --card: 228 57% 4%;
    --card-foreground: 228 10% 99%;
    --border: 228 12% 14%;
    --input: 228 12% 14%;
    --primary: 228 37% 64%;
    --primary-foreground: 228 37% 4%;
    --secondary: 228 3% 11%;
    --secondary-foreground: 228 3% 71%;
    --accent: 228 9% 20%;
    --accent-foreground: 228 9% 80%;
    --destructive: 21 82% 55%;
    --destructive-foreground: 0 0% 0%;
    --ring: 228 37% 64%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
