@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 66% 98%;
    --foreground: 234 70% 3%;
    --muted: 54 38% 93%;
    --muted-foreground: 54 12% 37%;
    --popover: 234 66% 97%;
    --popover-foreground: 234 70% 2%;
    --card: 234 66% 97%;
    --card-foreground: 234 70% 2%;
    --border: 234 5% 90%;
    --input: 234 5% 90%;
    --primary: 234 10% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 54 10% 41%;
    --secondary-foreground: 0 0% 100%;
    --accent: 54 10% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 19 91% 27%;
    --destructive-foreground: 19 91% 87%;
    --ring: 234 10% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 234 56% 3%;
    --foreground: 234 28% 99%;
    --muted: 54 38% 7%;
    --muted-foreground: 54 12% 63%;
    --popover: 234 56% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 234 56% 4%;
    --card-foreground: 0 0% 100%;
    --border: 234 5% 13%;
    --input: 234 5% 13%;
    --primary: 234 10% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 54 10% 41%;
    --secondary-foreground: 0 0% 100%;
    --accent: 54 10% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 19 91% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 234 10% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
